/* 
Name: Alex Singh
ID: 687195036
upi: asin374
*/

::-moz-selection{
	background: #80f;
}

::selection{
	background: #80f;
}

a:hover::-moz-selection{
	color: #08f;
}

a:hover::selection{
	color: #08f;
}

a{
	color: #08f;
	text-decoration: none;
}

a:hover{
	color: #0af;
}

body{
	margin:0;
	background-color: #ded;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", Verdana, Sans, sans-serif;
	text-align: justify;
}

h1{
	text-align: center;
}


.navlinks{
	height: 50px;
	padding: 0;
	margin:0;
	position: absolute;
	width: 100%;
}

.navlinks li{
	height: 50px;
	width: 100%;
	float: left;
	text-align: center;
	list-style: none;
	padding: 0;
	margin: auto;
	background-color: #444;
	line-height:50px;
	vertical-align: center;
}

.navlinks a{
	height:50px;
	text-decoration: none;
	color: #08f;
	display: block;
	
}

.navlinks li ul{
	display: none;
	height: auto;
	margin: 0;
	padding: 0;
	color: #fff;
}
			
.navlinks li:hover ul{
	display: block;

}

.navlinks li:hover ul li{
	border-top: 1px solid #ded;
}

.navlinks li ul li:hover a{
	background-color: #404040;
	color: #0af;
}

#nav{
	width: 30%;
	max-width: 250px;
	min-width: 150px;
	height: 50px; 
	margin-left: 0px;
	margin-right: auto;
	position: fixed;
	font-weight: bold;
	
}

#navfill{
	width: 100%;
	height: 50px;
	background-color: #444;
	border-bottom: 3px solid #08f;
	position: fixed;
}

#container{
	width: 78%;
	margin-left: auto;
	margin-right: auto;
	min-height: 100%;
	overflow: hidden;
}

#wrapper{
	/* padding-top: 50px; */
	padding: 50px 20px 20px 20px;
	background-color: rgba(255,255,255,.15);
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	border: 2px solid rgba(100,100,100,.1);
}

#footer{
	margin: 20px auto -1980px;
	padding-top: 20px;
	padding-bottom: 2000px;
	float: left;
	width: -moz-calc(100% - 4px);
    width: -webkit-calc(100% - 4px);
    width: calc(100% - 4px);
	background-color: rgba(255,255,255,.15);
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border: 2px solid rgba(100,100,100,.1);
}

hr.grad
{
	margin: 0 5% 0 5%;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(94,50,31,0.75), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(94,50,31,0.75), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(94,50,31,0.75), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(94,50,31,0.75), rgba(0,0,0,0));
}
hr.footGrad
{
	width: 50%;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(16,66,122,0.75), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(94,50,31,0.75), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(94,50,31,0.75), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(94,50,31,0.75), rgba(0,0,0,0));
}